.appbackgroung{
    background-image: url("assets\images\Sailor-Moon-sailor-moon-crystal-41083468-2456-1840.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}
.centered{
    font-family: Arial, Helvetica, sans-serif; 
    top: 50%;
    bottom: 50%;
}S

h1{
    font-size: 30px;
    font-style: inherit;
}

p {
    font-size: 18px;
}

  @media screen and (min-width: 640px) {}

  @media screen and (min-width: 768px) {}
  
  @media screen and (min-width: 980px) {} 
